@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --default-font: "Poppins", "Sans serif";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--default-font);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/Ceu-Azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    border-radius: 15px;
}

.buttons{
    width: 100%;
    display: flex;
}

.text-city{
    padding: 10px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1.2em;
    width: calc(100% - 110px);
}

.search{
    padding: 10px;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 50px;
}

.search img{
    width: 30px;
}

.info-weather{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-container{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.small-container img{
    width: 120px;
}

.info-weather span{
    margin-top: 10px;
}